MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://mpesa-backend-api.vercel.app/api/callback
MPESA_BASE_URL=https://api.safaricom.co.ke

FIREBASE_PROJECT_ID=halaleventbrite
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_SERVICE_ACCOUNT_BASE64=

SESSION_SECRET=
